@require './../../../../node_modules/@ali/tingle-style/src/vars'
@require './../../../../node_modules/@ali/tingle-style/src/mixin'

.page-extra
  padding 15px
  
  .t-button
    margin-bottom 10px
  .demo-popup-container 
    height 400px
    width 100%
    padding 20px

  .demo-popup-container-2
    height 100%
    width 280px
    padding 20px


